body {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(61, 2, 95);
}
.header {
    color: white;
    font-weight: bold;
    padding: 10px;
}
.upperleft {
    float: left;
}
a {
    text-decoration: inherit;
    color: inherit;
}
.upperright {
    float: right;
}
.main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    width: 500px;
    max-width: 80%;
    text-align: center;
    border-radius: 5px;
    /* background-color: rgb(0, 70, 70);
    box-shadow: 0 0 10px 2px; */
}
.startBtn {
    font-weight: bolder;
    font-size: 4em;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    align-self: center;
}
.startBtn:hover {
    background-color: yellowgreen;
    border: 2px solid green;
}
h1 {
    font-weight: bold;
    color: white;
    font-size: 1.7em;
    margin-bottom: 10px;
}
.answerBtn {
    padding: 1em;
    margin: 1em;
    width: 90%;
    font-weight: bold;
    border-radius: 5px;
}
.answerBtn:hover {
    border: 2px solid rgb(14, 0, 144);
    background-color: rgb(221, 220, 220);
}
.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: monospace;
    color: white;
    position: fixed;
    bottom: 10px;
}
.hide {
    display: none;
}